services:
  localstack:
    <<: *localstack

  ganache:
    <<: *ganache

  deployer-participant-au:
    <<: *deployer
    container_name: tec-deployer-participant-au
    env_file:
      - aws-credentials.env
      - deployer-participant-au.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS

  deployer-participant-gb:
    <<: *deployer
    container_name: tec-deployer-participant-gb
    env_file:
      - aws-credentials.env
      - deployer-participant-gb.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS

  channel-api-callback-server:
    <<: *channel-api-callback-server

  channel-api-au:
    <<: *channel-api
    container_name: tec-channel-api-au
    env_file:
      - channel-api.default.env
      - channel-api-au.env
    ports:
      - '9090:9090'
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-au

  channel-api-new-messages-observer-au:
    <<: *channel-api-new-messages-observer
    container_name: channel-api-new-messages-observer-au
    env_file:
      - channel-api.default.env
      - channel-api-au.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-au

  channel-api-callback-spreader-au:
    <<: *channel-api-callback-spreader
    container_name: tec-channel-api-callback-spreader-au
    env_file:
      - channel-api.default.env
      - channel-api-au.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-au

  channel-api-callback-delivery-au:
    <<: *channel-api-callback-delivery
    container_name: tec-channel-api-callback-delivery-au
    env_file:
      - channel-api.default.env
      - channel-api-au.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-au

  channel-api-gb:
    <<: *channel-api
    container_name: tec-channel-api-gb
    env_file:
      - channel-api.default.env
      - channel-api-gb.env
    ports:
      - '9091:9091'
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-gb

  channel-api-new-messages-observer-gb:
    <<: *channel-api-new-messages-observer
    container_name: channel-api-new-messages-observer-gb
    env_file:
      - channel-api.default.env
      - channel-api-gb.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-gb

  channel-api-callback-spreader-gb:
    <<: *channel-api-callback-spreader
    container_name: tec-channel-api-callback-spreader-gb
    env_file:
      - channel-api.default.env
      - channel-api-gb.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-gb

  channel-api-callback-delivery-gb:
    <<: *channel-api-callback-delivery
    container_name: tec-channel-api-callback-delivery-gb
    env_file:
      - channel-api.default.env
      - channel-api-gb.env
    environment:
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-gb

  contract-event-listener-au:
    <<: *contract-event-listener
    container_name: tec-contract-event-listener-au
    environment:
      YAML_CONFIG_FILE_VALUE: ${YAML_CONFIG_FILE_VALUE_AU}
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-au

  contract-event-listener-gb:
    <<: *contract-event-listener
    container_name: tec-contract-event-listener-gb
    environment:
      YAML_CONFIG_FILE_VALUE: ${YAML_CONFIG_FILE_VALUE_GB}
      REQUIRED_UNLOCK_FILES: AWS channel-node-participant-gb
